@-moz-keyframes reveal-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes reveal-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes reveal-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes reveal-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html,
html > body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  color: #1c83b0;
  text-decoration: none;
  border-bottom: 1px solid;
}
strong {
  font-weight: 800;
}
@-moz-keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-o-keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.p-float-right {
  float: right !important;
}
.p-float-left {
  float: left !important;
}
.p-vertical-align-middle {
  vertical-align: middle !important;
}
.p-margin-left-auto {
  margin-left: auto !important;
}
.p-display-block {
  display: block !important;
}
.p-width-100 {
  width: 100% !important;
}
.p-margin-top-0 {
  margin-top: 0 !important;
}
.p-padding-top-0 {
  padding-top: 0 !important;
}
.p-margin-horizontal-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.p-padding-horizontal-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.p-padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-padding-0 {
  padding: 0 !important;
}
.p-margin-0 {
  margin: 0 !important;
}
.p-margin-right-0 {
  margin-right: 0 !important;
}
.p-padding-right-0 {
  padding-right: 0 !important;
}
.p-margin-horizontal-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.p-padding-horizontal-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.p-padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-padding-0 {
  padding: 0 !important;
}
.p-margin-0 {
  margin: 0 !important;
}
.p-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.p-padding-bottom-0 {
  padding-bottom: 0 !important;
}
.p-margin-horizontal-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.p-padding-horizontal-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.p-padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-padding-0 {
  padding: 0 !important;
}
.p-margin-0 {
  margin: 0 !important;
}
.p-margin-left-0 {
  margin-left: 0 !important;
}
.p-padding-left-0 {
  padding-left: 0 !important;
}
.p-margin-horizontal-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.p-padding-horizontal-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-margin-vertical-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.p-padding-vertical-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-padding-0 {
  padding: 0 !important;
}
.p-margin-0 {
  margin: 0 !important;
}
.p-margin-top-1 {
  margin-top: 8px !important;
}
.p-padding-top-1 {
  padding-top: 8px !important;
}
.p-margin-horizontal-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.p-padding-horizontal-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-margin-vertical-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.p-padding-vertical-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-padding-1 {
  padding: 8px !important;
}
.p-margin-1 {
  margin: 8px !important;
}
.p-margin-right-1 {
  margin-right: 8px !important;
}
.p-padding-right-1 {
  padding-right: 8px !important;
}
.p-margin-horizontal-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.p-padding-horizontal-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-margin-vertical-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.p-padding-vertical-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-padding-1 {
  padding: 8px !important;
}
.p-margin-1 {
  margin: 8px !important;
}
.p-margin-bottom-1 {
  margin-bottom: 8px !important;
}
.p-padding-bottom-1 {
  padding-bottom: 8px !important;
}
.p-margin-horizontal-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.p-padding-horizontal-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-margin-vertical-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.p-padding-vertical-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-padding-1 {
  padding: 8px !important;
}
.p-margin-1 {
  margin: 8px !important;
}
.p-margin-left-1 {
  margin-left: 8px !important;
}
.p-padding-left-1 {
  padding-left: 8px !important;
}
.p-margin-horizontal-1 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.p-padding-horizontal-1 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-margin-vertical-1 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.p-padding-vertical-1 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-padding-1 {
  padding: 8px !important;
}
.p-margin-1 {
  margin: 8px !important;
}
.p-margin-top-2 {
  margin-top: 16px !important;
}
.p-padding-top-2 {
  padding-top: 16px !important;
}
.p-margin-horizontal-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.p-padding-horizontal-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-margin-vertical-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.p-padding-vertical-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-padding-2 {
  padding: 16px !important;
}
.p-margin-2 {
  margin: 16px !important;
}
.p-margin-right-2 {
  margin-right: 16px !important;
}
.p-padding-right-2 {
  padding-right: 16px !important;
}
.p-margin-horizontal-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.p-padding-horizontal-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-margin-vertical-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.p-padding-vertical-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-padding-2 {
  padding: 16px !important;
}
.p-margin-2 {
  margin: 16px !important;
}
.p-margin-bottom-2 {
  margin-bottom: 16px !important;
}
.p-padding-bottom-2 {
  padding-bottom: 16px !important;
}
.p-margin-horizontal-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.p-padding-horizontal-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-margin-vertical-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.p-padding-vertical-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-padding-2 {
  padding: 16px !important;
}
.p-margin-2 {
  margin: 16px !important;
}
.p-margin-left-2 {
  margin-left: 16px !important;
}
.p-padding-left-2 {
  padding-left: 16px !important;
}
.p-margin-horizontal-2 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.p-padding-horizontal-2 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-margin-vertical-2 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.p-padding-vertical-2 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-padding-2 {
  padding: 16px !important;
}
.p-margin-2 {
  margin: 16px !important;
}
.p-margin-top-3 {
  margin-top: 24px !important;
}
.p-padding-top-3 {
  padding-top: 24px !important;
}
.p-margin-horizontal-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.p-padding-horizontal-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-margin-vertical-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.p-padding-vertical-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-padding-3 {
  padding: 24px !important;
}
.p-margin-3 {
  margin: 24px !important;
}
.p-margin-right-3 {
  margin-right: 24px !important;
}
.p-padding-right-3 {
  padding-right: 24px !important;
}
.p-margin-horizontal-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.p-padding-horizontal-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-margin-vertical-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.p-padding-vertical-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-padding-3 {
  padding: 24px !important;
}
.p-margin-3 {
  margin: 24px !important;
}
.p-margin-bottom-3 {
  margin-bottom: 24px !important;
}
.p-padding-bottom-3 {
  padding-bottom: 24px !important;
}
.p-margin-horizontal-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.p-padding-horizontal-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-margin-vertical-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.p-padding-vertical-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-padding-3 {
  padding: 24px !important;
}
.p-margin-3 {
  margin: 24px !important;
}
.p-margin-left-3 {
  margin-left: 24px !important;
}
.p-padding-left-3 {
  padding-left: 24px !important;
}
.p-margin-horizontal-3 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.p-padding-horizontal-3 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-margin-vertical-3 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.p-padding-vertical-3 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-padding-3 {
  padding: 24px !important;
}
.p-margin-3 {
  margin: 24px !important;
}
.p-margin-top-4 {
  margin-top: 32px !important;
}
.p-padding-top-4 {
  padding-top: 32px !important;
}
.p-margin-horizontal-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.p-padding-horizontal-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-margin-vertical-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.p-padding-vertical-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-padding-4 {
  padding: 32px !important;
}
.p-margin-4 {
  margin: 32px !important;
}
.p-margin-right-4 {
  margin-right: 32px !important;
}
.p-padding-right-4 {
  padding-right: 32px !important;
}
.p-margin-horizontal-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.p-padding-horizontal-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-margin-vertical-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.p-padding-vertical-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-padding-4 {
  padding: 32px !important;
}
.p-margin-4 {
  margin: 32px !important;
}
.p-margin-bottom-4 {
  margin-bottom: 32px !important;
}
.p-padding-bottom-4 {
  padding-bottom: 32px !important;
}
.p-margin-horizontal-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.p-padding-horizontal-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-margin-vertical-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.p-padding-vertical-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-padding-4 {
  padding: 32px !important;
}
.p-margin-4 {
  margin: 32px !important;
}
.p-margin-left-4 {
  margin-left: 32px !important;
}
.p-padding-left-4 {
  padding-left: 32px !important;
}
.p-margin-horizontal-4 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.p-padding-horizontal-4 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-margin-vertical-4 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.p-padding-vertical-4 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-padding-4 {
  padding: 32px !important;
}
.p-margin-4 {
  margin: 32px !important;
}
.form-block input,
.form-block textarea {
  width: 100%;
  margin: 0 0 8px 0;
  max-height: 60px;
  padding: 8px;
  resize: none;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  outline: 0;
  display: block;
}
.form-block input:active,
.form-block textarea:active,
.form-block input:focus,
.form-block textarea:focus {
  border-color: #f00;
}
.page-footer {
  background-color: #43484c;
  color: #86939c;
  font-size: 13px;
}
.page-footer__content {
  color: #666;
  margin: 0 auto;
  max-width: 960px;
  min-height: 40px;
  padding: 8px;
}
.page-footer__content:before,
.page-footer__content:after {
  content: " ";
  display: table;
}
.page-footer__content:after {
  clear: both;
}
.page-footer__title {
  color: #fff;
  font-size: 18px;
}
.page-footer__text {
  line-height: 1.5;
}
.page-footer__list {
  padding: 0;
}
.page-footer__list__item {
  list-style: none;
  padding: 0;
  line-height: 2;
}
.page-footer__link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 0;
}
.page-footer__link:hover {
  text-decoration: underline;
}
.page-footer__subfooter {
  padding: 24px;
  margin: 0 auto;
  background-color: #2b2e31;
  text-align: center;
  color: #fff;
}
.page-footer__subfooter__icon {
  width: 30px;
  vertical-align: middle;
  margin-right: 8px;
  font-size: 30px;
}
.alert-success {
  font-size: 15px;
  width: 100%;
  border: 1px solid #00f;
  background: #008000;
}
.blog-box {
  box-shadow: 0 2px 1px rgba(170,170,170,0.25);
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.blog-box:hover {
  transform: scale(1.025);
}
.blog-box__title {
  font-size: 16px;
  display: none;
}
.blog-box__body {
  padding: 16px 16px 0 16px;
  flex: 1 0 auto;
}
.blog-box__link {
  color: inherit;
  display: inline-block;
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  padding: 16px 0 16px 16px;
  border: 0;
}
.blog-box__link:hover {
  color: #247ba0;
}
.blog-box__description {
  font-size: 13px;
  color: #666;
}
.blog-box__footer {
  padding: 0;
  border-top: 1px solid #eee;
  color: #666;
  font-size: 12px;
  min-height: 45px;
}
.blog-box__icon-like {
  float: right;
  cursor: pointer;
  transition: all ease-in 0.5s;
  color: #999;
  vertical-align: middle;
  padding: 16px;
  position: relative;
  top: 3px;
}
.blog-box__icon-like:hover {
  color: #ff1654;
  animation: pulse 0.5s infinite alternate ease-in;
}
.blog-list {
  max-width: 960px;
  margin: 0 auto;
}
.blog-list__title {
  color: #666;
  margin: 24px 0 8px 0;
  padding: 0 16px 0 32px;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 768px) {
  .blog-list__title {
    font-size: 22px;
  }
}
.blog-list__subtitle {
  color: #666;
  margin: 0 0 8px 0;
  padding: 0 16px 0 32px;
  font-size: 12px;
}
@media (min-width: 768px) {
  .blog-list__subtitle {
    font-size: 15px;
  }
}
.blog-list__flex-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}
.blog-list__flex-grid__item {
  margin-left: 16px;
  margin-top: 16px;
  flex-direction: column;
  display: flex;
  flex: 1 0 calc(100% - 16px );
}
@media (min-width: 768px) {
  .blog-list__flex-grid__item {
    flex: 1 0 calc(33% - 16px );
  }
}
.blog-list__flex-grid__header {
  text-align: center;
  color: #999;
  line-height: 18px;
  margin: 16px 0 0 0;
  flex-basis: 100%;
}
.blog-list__flex-grid__header__title {
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f5f5f5;
  display: inline-block;
  position: relative;
  top: 1px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0;
}
.blog-list__flex-grid__header__subtitle {
  border-top: 1px solid #eee;
  font-size: 12px;
  margin-top: 0;
}
.blog-list__button {
  margin: 16px auto;
  display: block;
}
.btn {
  background-color: #1c83b0;
  border-radius: 0.4rem;
  border: 1px solid #19769e;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  white-space: nowrap;
}
.btn:hover {
  background-color: #3e95bb;
}
.btn:active {
  background-color: #176f95;
  box-shadow: none;
}
.btn--is-small {
  font-size: 10px;
  line-height: 22px;
  padding: 4px 8px;
}
.btn--is-normal {
  font-size: 12px;
  line-height: 32px;
  padding: 4px 16px;
}
.btn--success {
  background-color: #2ecc71;
  border-radius: 0.4rem;
  border: 1px solid #29b866;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  white-space: nowrap;
}
.btn--success:hover {
  background-color: #4dd386;
}
.btn--success:active {
  background-color: #27ad60;
  box-shadow: none;
}
.btn--info {
  background-color: #2e8ece;
  border-radius: 0.4rem;
  border: 1px solid #2980b9;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  white-space: nowrap;
}
.btn--info:hover {
  background-color: #4d9ed5;
}
.btn--info:active {
  background-color: #2778af;
  box-shadow: none;
}
.btn--featured {
  background-color: #ff1654;
  border-radius: 0.4rem;
  border: 1px solid #f90042;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 800;
  letter-spacing: 0.1rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  white-space: nowrap;
}
.btn--featured:hover {
  background-color: #ff386d;
}
.btn--featured:active {
  background-color: #d81247;
  box-shadow: none;
}
.fullscreen {
  z-index: 100;
  position: fixed;
}
.fullscreen__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 110;
}
.fullscreen__modal {
  z-index: 120;
  max-width: (100% - 16px );
  position: fixed;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(51,51,51,0.6);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.fullscreen__modal__header {
  padding: 16px;
  background-color: #fff;
  margin: 0;
  border-radius: 8px 8px 0 0;
  color: #333;
}
.fullscreen__modal__title {
  font-size: 16px;
  margin: 0;
  max-width: calc(100% - 44px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  word-wrap: normal;
}
.fullscreen__modal__close-icon {
  float: right;
  padding: 16px;
  line-height: 23px;
  cursor: pointer;
  font-size: 16px;
}
.fullscreen__modal__body {
  border-top: 1px solid #e0e0e0;
  background-color: #e9e9e9;
  padding: 16px;
  color: #333;
}
.row {
  box-sizing: border-box;
}
*[class^='col-'],
*[class*=' col-'] {
  box-sizing: border-box;
}
*[class^='col-']:before,
*[class*=' col-']:before,
*[class^='col-']:after,
*[class*=' col-']:after {
  box-sizing: border-box;
}
@media (min-width: 320px) {
  .col-phone-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
  .col-offset-phone-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
  .col-offset-phone-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
  .col-offset-phone-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
  .col-offset-phone-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
  .col-offset-phone-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
  .col-offset-phone-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
  .col-offset-phone-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
  .col-offset-phone-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
  .col-offset-phone-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
  .col-offset-phone-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
  .col-offset-phone-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
}
@media (min-width: 320px) {
  .col-phone-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
  .col-offset-phone-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
  .col-offset-tablet-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
  .col-offset-tablet-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
  .col-offset-tablet-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
  .col-offset-tablet-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
  .col-offset-tablet-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
  .col-offset-tablet-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
  .col-offset-tablet-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
  .col-offset-tablet-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
  .col-offset-tablet-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
  .col-offset-tablet-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
  .col-offset-tablet-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
}
@media (min-width: 768px) {
  .col-tablet-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
  .col-offset-tablet-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
  .col-offset-desktop-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
  .col-offset-desktop-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
  .col-offset-desktop-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
  .col-offset-desktop-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
  .col-offset-desktop-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
  .col-offset-desktop-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
  .col-offset-desktop-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
  .col-offset-desktop-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
  .col-offset-desktop-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
  .col-offset-desktop-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
  .col-offset-desktop-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .col-desktop-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
  .col-offset-desktop-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
  .col-offset-monitor-1 {
    position: relative;
    min-height: 1px;
    width: 8.333333333333334%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
  .col-offset-monitor-2 {
    position: relative;
    min-height: 1px;
    width: 16.666666666666668%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
  .col-offset-monitor-3 {
    position: relative;
    min-height: 1px;
    width: 25%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
  .col-offset-monitor-4 {
    position: relative;
    min-height: 1px;
    width: 33.333333333333336%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
  .col-offset-monitor-5 {
    position: relative;
    min-height: 1px;
    width: 41.66666666666667%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
  .col-offset-monitor-6 {
    position: relative;
    min-height: 1px;
    width: 50%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
  .col-offset-monitor-7 {
    position: relative;
    min-height: 1px;
    width: 58.333333333333336%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
  .col-offset-monitor-8 {
    position: relative;
    min-height: 1px;
    width: 66.66666666666667%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
  .col-offset-monitor-9 {
    position: relative;
    min-height: 1px;
    width: 75%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
  .col-offset-monitor-10 {
    position: relative;
    min-height: 1px;
    width: 83.33333333333334%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
  .col-offset-monitor-11 {
    position: relative;
    min-height: 1px;
    width: 91.66666666666667%;
    float: left;
  }
}
@media (min-width: 1280px) {
  .col-monitor-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
  .col-offset-monitor-12 {
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
  }
}
.col-1 {
  position: relative;
  min-height: 1px;
  width: 8.333333333333334%;
  float: left;
}
.col-2 {
  position: relative;
  min-height: 1px;
  width: 16.666666666666668%;
  float: left;
}
.col-3 {
  position: relative;
  min-height: 1px;
  width: 25%;
  float: left;
}
.col-4 {
  position: relative;
  min-height: 1px;
  width: 33.333333333333336%;
  float: left;
}
.col-5 {
  position: relative;
  min-height: 1px;
  width: 41.66666666666667%;
  float: left;
}
.col-6 {
  position: relative;
  min-height: 1px;
  width: 50%;
  float: left;
}
.col-7 {
  position: relative;
  min-height: 1px;
  width: 58.333333333333336%;
  float: left;
}
.col-8 {
  position: relative;
  min-height: 1px;
  width: 66.66666666666667%;
  float: left;
}
.col-9 {
  position: relative;
  min-height: 1px;
  width: 75%;
  float: left;
}
.col-10 {
  position: relative;
  min-height: 1px;
  width: 83.33333333333334%;
  float: left;
}
.col-11 {
  position: relative;
  min-height: 1px;
  width: 91.66666666666667%;
  float: left;
}
.col-12 {
  position: relative;
  min-height: 1px;
  width: 100%;
  float: left;
}
.input-box {
  display: block;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  max-width: 100%;
  padding: 8px;
  position: relative;
  width: 240px;
}
.input-box__input {
  border-radius: 20px;
  border: 1px solid #1c83b0;
  font-size: 13px;
  line-height: inherit;
  max-width: 480px;
  outline: none;
  padding: 8px 30px 8px 24px;
  width: 100%;
}
.input-box__input::-webkit-input-placeholder {
  color: #d8d8d8;
  font-size: 13px;
}
.input-box__input:-moz-placeholder {
  color: #d8d8d8;
  font-size: 13px;
}
.input-box__input::-moz-placeholder {
  color: #d8d8d8;
  font-size: 13px;
}
.input-box__input:-ms-input-placeholder {
  color: #d8d8d8;
  font-size: 13px;
}
.input-box__input:active,
.input-box__input:focus {
  box-shadow: 0 0 3px #1c83b0;
}
.input-box__icon {
  color: #ff5858;
  cursor: pointer;
  font-size: 14px;
  line-height: 54px;
  padding: 0 20px 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all ease-in 0.5s;
}
.input-box__icon:hover {
  color: #ff2424;
}
.input-box--is-extra-large {
  line-height: 40px;
  margin: 24px auto;
  width: 480px;
}
.input-box--is-extra-large .input-box__input {
  padding-right: 24px;
  font-size: 13px;
  border-radius: 20px;
  padding-left: 16px;
  border-radius: 42px;
  font-size: 18px;
  padding: 8px 46px 8px 24px;
}
.input-box--is-extra-large .input-box__input::-webkit-input-placeholder {
  font-size: 18px;
}
.input-box--is-extra-large .input-box__input:-moz-placeholder {
  font-size: 18px;
}
.input-box--is-extra-large .input-box__input::-moz-placeholder {
  font-size: 18px;
}
.input-box--is-extra-large .input-box__input:-ms-input-placeholder {
  font-size: 18px;
}
.input-box--is-extra-large .input-box__icon {
  line-height: 70px;
  padding: 0 24px;
  top: 1px;
  font-size: 20px;
}
.jumbotron {
  text-align: center;
  font-weight: 400;
  color: #fff;
  background-image: url("/images/crowd-people-pattern.jpg");
  position: relative;
  z-index: 10;
  padding-top: 54px;
}
.jumbotron:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(28,131,176,0.75);
  position: absolute;
  z-index: 20;
  top: 0;
}
.jumbotron__content {
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 16px;
  z-index: 30;
  position: relative;
}
.jumbotron__title {
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin: 0;
  padding: 16px 8px;
  font-size: 25px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .jumbotron__title {
    font-size: 50px;
    padding: 24px 16px;
  }
}
.jumbotron__subtitle {
  font-size: 13px;
  font-weight: 100;
  margin: 0;
}
@media (min-width: 768px) {
  .jumbotron__subtitle {
    font-size: 16px;
  }
}
.jumbotron__main-link {
  margin-top: 8px;
  color: #fff;
  font-size: 13px;
  display: block;
  text-decoration: underline;
  border: 0;
}
@media (min-width: 768px) {
  .jumbotron__main-link {
    font-size: 16px;
  }
}
.loader-inline span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  display: inline-block;
}
.loader-inline span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-inline span:nth-child(3) {
  animation-delay: 0.4s;
}
.navigation__center {
  text-align: center;
}
.navigation__list-item {
  display: inline-block;
}
.navigation-header {
  width: 100%;
  top: 0;
  z-index: 90;
  padding: 0;
  line-height: 40px;
  position: absolute;
}
@media (min-width: 768px) {
  .navigation-header {
    padding: 0 16px;
  }
}
.navigation-header__content {
  color: #fff;
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  min-height: 40px;
  padding: 0;
  flex-direction: row;
  align-items: center;
}
.navigation-header__logo {
  height: 20px;
}
.navigation-header__input-box {
  margin-left: auto;
  display: none;
}
@media (min-width: 768px) {
  .navigation-header__input-box {
    align-self: flex-end;
  }
}
.navigation-header__input-box .input-box__input {
  background-color: #5babc8;
  color: #fff;
}
.navigation-header__input-box .input-box__input:hover {
  color: #fff;
}
.navigation-header__input-box .input-box__input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.75);
}
.navigation-header__input-box .input-box__input:-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
.navigation-header__input-box .input-box__input::-moz-placeholder {
  color: rgba(255,255,255,0.75);
}
.navigation-header__input-box .input-box__input:-ms-input-placeholder {
  color: rgba(255,255,255,0.75);
}
.navigation-header__input-box .input-box__icon {
  color: #fff;
}
.navigation-header__input-box .input-box__icon:hover {
  color: #fff;
}
.navigation-header__breadcrumb {
  line-height: inherit;
  margin-left: 16px;
}
.navigation-header__breadcrumb__item {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  border: 0;
}
.navigation-header--is-fixed {
  background-color: rgba(28,131,176,0.9);
  position: fixed;
}
.navigation-header--is-fixed .navigation-header__input-box {
  display: initial;
}
.pagination {
  font-size: 14px;
}
@media (min-width: $screen-tablet-min) {
  .pagination {
    font-size: 16px;
  }
}
.pagination__list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 16px 0;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.pagination__list__item {
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid #e9e9e9;
}
.pagination__list__item:last-child {
  border-right: 0;
}
.pagination__list__link {
  text-decoration: none;
  border: 0;
}
