html,
html > body
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5
    box-sizing: border-box
    margin: 0

*, *:before, *:after
    box-sizing: inherit

a
    color: rgb(28,131,176)
    text-decoration: none
    border-bottom: 1px solid

strong
    font-weight: 800
