.p-float-right
    float: right !important

.p-float-left
    float: left !important

.p-vertical-align-middle
    vertical-align: middle !important

.p-margin-left-auto
    margin-left: auto !important

.p-display-block
    display: block !important

.p-width-100
    width: 100% !important
