/// Block Element
/// @access public
/// @param {String} $element - Element's name
element(element)
    &__{element}
        {block}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
modifier(modifier)
    &--{modifier}
        {block}

