<div>
    <jumbotron></jumbotron>

    <img src ng-if='vc.isLoadingPromise'>

    <section class="blog-list">
        <h2 class="blog-list__title">
            <strong>Confira a lista:</strong> 175 blogs.
        </h2>
        <p class="blog-list__subtitle">Ou <a href>adicione agora mesmo seu blog.</a></p>
        <div class="blog-list__flex-grid">
            <blog-box blog='blog.json' ng-repeat='blog in vc.blogs' class="blog-list__flex-grid__item"></blog-box>
        </div>
    </section>

</div>
