<div>

    <jumbotron></jumbotron>

    <section class="blog-list">

        <h2 class="blog-list__title">
            <strong>Confira a lista:</strong>
            <span>175 blogs.</span>
        </h2>

        <p class="blog-list__subtitle">Ou <a href>adicione agora mesmo seu blog.</a></p>

        <div ng-show='!vc.vm.isLoadingMoreBlogs'>
            <div class="blog-list__flex-grid">

                <blog-box blog='blog.json'
                        ng-repeat='blog in vc.vm.blogList'
                        class="blog-list__flex-grid__item">
                </blog-box>

            </div>
            <button class='btn btn--is-normal btn--featured blog-list__button p-display-block'
                    ng-click='vc.loadMoreBlogsAndPaginate()'
                    ng-disabled='vc.vm.isLoadingMoreBlogs'>
                <span ng-show='!vc.vm.isLoadingMoreBlogs'>Carregar mais blogs</span>
                <span ng-show='vc.vm.isLoadingMoreBlogs'>
                    Carregando mais blogs <loader-inline></loader-inline>
                </span>
            </button>
        </div>

    </section>

</div>
