<div>
    <form action class='form-block'>
        <input type="url" id='url' placeholder='Qual a url do blog?'>
        <textarea id="descricao" cols="30" rows="10" placeholder='Descreva o blog em poucas palavras.'></textarea>
        <textarea id="categorias" cols="30" rows="10" placeholder='Quais as categorias que aceitam guest post?'></textarea>
        <textarea id="regras" cols="30" rows="10" placeholder='Existem regras para guest post? Tamanho mínimo, quantidade de imagens, ou outras regras?'></textarea>
        <input type="email" id='email' placeholder='E-mail para contato'>
        <button class='btn btn--is-normal btn--featured'>Adicionar blog</button>

<!--         categorias
        data
        descricao
        email
        id
        regras
        url -->
    </form>
</div>
