.blog-box-flex-list
    display: flex
    flex-wrap: wrap
    max-width: 960px
    margin: 0 auto

    .blog-box-flex-item
        margin-left: get-spacing(2)
        margin-top: get-spacing(2)
        flex-direction: column
        display: flex
        flex: "1 0 calc(100% - %s )" %get-spacing(2)
        @media (min-width: screen-tablet-min)
            flex: "1 0 calc(33% - %s )" %get-spacing(2)


