.blog-box
    box-shadow: 0 2px 1px rgba(170, 170, 170, .25)
    background-color: #fff
    border-radius: 8px
    cursor: pointer
    transition: all ease-in .5s
    position: relative

    &__title
        font-size: 16px
        display: none

    &__body
        padding: get-spacing(2) get-spacing(2) 0 get-spacing(2)
        flex: 1 0 auto

    &__link
        color: inherit
        display: inline-block
        max-width: calc(100% - 20px)
        overflow: hidden
        text-decoration: none
        text-overflow: ellipsis
        vertical-align: middle
        white-space: nowrap
        word-wrap: normal
        padding: get-spacing(2) 0 get-spacing(2) get-spacing(2)

        &:hover
            color: #247ba0

    &__description
        font-size: 13px
        color: #666

    &__footer
        padding: 0
        border-top: 1px solid #eee
        color: #666
        font-size: 12px
        min-height: 45px

    &__icon-like
        float: right
        cursor: pointer
        transition: all ease-in .5s
        color: #999
        vertical-align: middle
        padding: get-spacing(2)
        position: relative
        top: 3px // ajuste arbitrário :(
        &:hover
            color: #ff1654
            animation: pulse .5s infinite alternate ease-in
