.blog-box
    box-shadow: 0 2px 1px rgba(170, 170, 170, .25)
    background-color: #fff
    border-radius: 3px
    &__title
        font-size: 16px
    &__body
        padding: get-spacing(2) get-spacing(2) 0 get-spacing(2)
    // &__link
    // &__description
    &__footer
        padding: get-spacing(1) get-spacing(2) get-spacing(2) get-spacing(2)
