.blog-list
    + element(title)
        color: #666
        max-width: 960px
        margin: get-spacing(3) auto get-spacing(1) auto
        padding: 0 get-spacing(2) 0 (get-spacing(2) + get-spacing(2))
        font-size: 22px
        font-weight: 400

    + element(subtitle)
        color: #666
        max-width: 960px
        margin: 0 auto get-spacing(1) auto
        padding: 0 get-spacing(2) 0 (get-spacing(2) + get-spacing(2))
        font-size: 15px

    + element(flex-grid)
        display: flex
        flex-wrap: wrap
        max-width: 960px
        margin: 0 auto

        + element(item)
            margin-left: get-spacing(2)
            margin-top: get-spacing(2)
            flex-direction: column
            display: flex
            flex: "1 0 calc(100% - %s )" %get-spacing(2)
            @media (min-width: screen-tablet-min)
                flex: "1 0 calc(33% - %s )" %get-spacing(2)


