.input-box
    display: block
    font-size: 18px
    line-height: 20px
    margin: 0
    max-width: 100%
    padding: get-spacing(1)
    position: relative
    width: 240px

    + element(input)
        border-radius: 20px
        border: 1px solid rgb(28, 131, 176)
        font-size: 13px
        line-height: inherit
        max-width: 480px
        outline: none
        padding: get-spacing(1) 30px get-spacing(1) get-spacing(3)
        width: 100%

        + m-placeholder()
            color: #d8d8d8
            font-size: 13px

        &:active,
        &:focus
            box-shadow: 0 0 3px rgb(28, 131, 176)

    + element(icon)
        color: #ff5858
        cursor: pointer
        font-size: 14px
        line-height: 54px
        padding: 0 20px 0 get-spacing(1)
        position: absolute
        right: 0
        top: 0
        transition: all ease-in .5s

        &:hover
            color: #ff2424

    + modifier(is-extra-large)
        line-height: 40px
        margin: get-spacing(3) auto
        width: 480px

        .input-box__input
            padding-right: get-spacing(3)
            font-size: 13px
            border-radius: 20px
            padding-left: get-spacing(2)
            border-radius: 42px
            font-size: 18px
            padding: get-spacing(1) 46px get-spacing(1) get-spacing(3)

            + m-placeholder()
                font-size: 18px

        .input-box__icon
            line-height: 70px
            padding: 0 get-spacing(3)
            top: 1px
            font-size: 20px
