.navigation-header
    width: 100%
    top: 0
    z-index: get-z-index(navigation)
    padding: 0
    line-height: 40px
    position: absolute

    @media (min-width: screen-tablet-min)
        padding: 0 get-spacing(2)

    &__content
        color: #fff
        display: flex
        margin: 0 auto
        max-width: 960px
        min-height: 40px
        padding: 0
        flex-direction: row
        align-items: center

    &__logo
        height: 20px

    &__input-box
        margin-left: auto
        display: none

        @media (min-width: screen-tablet-min)
            align-self: flex-end

        .input-box__input
            background-color: #5babc8
            color: #fff
            &:hover
                color: #fff

            + m-placeholder()
                color: rgba(255, 255, 255, .75)

        .input-box__icon
            color: #fff

            &:hover
                color: #fff


    + element(breadcrumb)
        line-height: inherit
        margin-left: get-spacing(2)

        + element(item)
            font-size: 13px
            color: #fff
            text-decoration: none
            border: 0

    + modifier(is-fixed)
        background-color: rgba(28, 131, 176, .9)
        position: fixed

        .navigation-header__input-box
            display: initial
