.navigation-header
    position: fixed
    width: 100%
    top: 0
    z-index: get-z-index(navigation)

    &__content
        margin: 0 auto
        display: block
        max-width: 960px
        padding: get-spacing(2)
        color: #fff
