<header class="jumbotron">
    <div class="jumbotron__content">
        <h1 class="jumbotron__title">Blogs que aceitam guest post</h1>
        <h2 class='jumbotron__subtitle'>
            Queremos ser a maior lista brasileira de blogs que aceitam guest post.
        </h2>
        <a href="/sobre" class="jumbotron__main-link">Conheça nossa proposta.</a></h2>
        <span class="input-box input-box--is-extra-large">
            <input type="text" placeholder="Encontre um blog" class='input-box__input'>
            <i class="fa fa-search input-box__icon"></i>
        </span>
    </div>
</header>
