<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__list__item"><a href="" class="pagination__list__link">&lt; Anterior</a></li>
        <li class="pagination__list__item"><a href="" class="pagination__list__link">1</a></li>
        <li class="pagination__list__item"><a href="" class="pagination__list__link">2</a></li>
        <li class="pagination__list__item"><a href="" class="pagination__list__link">3</a></li>
        <li class="pagination__list__item"><a href="" class="pagination__list__link">Próxima &gt;</a></li>
    </ul>
</div>